<script type="text/template" id="login-template">
  <div>
    <h1>First, log in to spotify</h1>
    <a href="/login">Log in</a>
  </div>
</script>

<script type="text/template" id="circles">
  <div>
    <h1>Your Circles!</h1>
    <a href="/logout">Logout</a>
  </div>
</script>
