<script type="text/template" id="list-template>
  <li class="circle">
    <%= circle.title %>
    <a href="/testLib" id="<%= circle._id %>" class="stationLink">Generate</a>
    <%= circle.users %>
  </li>
</script>




