<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <$- include('partials/head') $>
  </head>
  <body>

  <h1>Test!</h1>

  <$- include('partials/templates') $>
  <$- include('partials/scripts') $>
  </body>

</html>
