<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <$- include('partials/head') $>
  </head>
  <body>
    <main>
    <$ if (user) { $>
      <div>
        <h1>Your Circles!</h1>
        <a href="/logout">Logout</a>
      </div>
    <$ } else { $>
      <div>
        <h1>First, log in to spotify</h1>
        <a href="/login">Log in</a>
      </div>
    <$ } $>
    </main>
  <$- include('partials/scripts') $>
  <$- include('partials/templates') $>
  </body>
</html>
