#proImg {
  width: 6vh;
  height: 6vh;
  margin: 1vh;
  border-radius: 50%;
  background-size: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  background: #181818;
  color: #dcddde;
}

a {
  color: #0387a4;
  text-decoration: none;
  -webkit-transition: color ..05s ease-in;
  transition: color .05s ease-in;
}

a:hover {
  color: #1e4761;
}

main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

h1 {
  white-space: nowrap;
}


#content {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#topHeader {
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  position: relative;
  box-shadow: 0 0 1.2vw #171717;
  z-index: 20000;
}

#topHeader div {
  display: inline-block;
  flex-grow: 1;
  background: #272727;
  text-align: center;
}

#modal {
  display: none;
  position: absolute;
  min-height: 150px;
  width: 56vw;
  max-height: 560px;
  max-width: 560px;
  padding: 25px 2vw;
  background: #dcddde;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  top: 12vh;
  border-radius: 6px;
  box-shadow: 0 0 1.2vw #171717;
  color: #171717;
  font-size: 20px;
  text-align: center
}

#openSpotifyButton {
  margin-top: 50px;
  width: 50%;
}

.menuItem {
  display: flex;
  flex-grow: 1;
  border: 1px solid black;
  justify-content: center;
  color: #dcddde;
  background: #272727;
  -webkit-transition: color ..05s ease-in;
  transition: color .05s ease-in;
}

.menuItem:hover {
  color: #0387a4;
}

.exitMenu {
  height: 100%;
  padding: 0;
  outline: none;
}

#userMenu span {
  height: 100%;
  display: flex;
}

#userName {
  margin: 0;
  width: 100%;
  font-weight: 700;
}

#userName p {
}

#welcome {
  position: relative;
  width: 30vw;
}

#userMenu {
  position: absolute;
  right: 100%;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
  background: #dcddde;
}

#logoContainer {
  display: flex;
  height: 100%;
}

#logo {
  cursor: pointer;
  height: 70px;
  margin: auto;
  margin-top: 5px
}

#moreInfo {
  position: relative;
  width: 30vw;
}

#moreInfo:hover {
  color: #0387a4;
  -webkit-transition: color ..05s ease-in;
  transition: color .05s ease-in;
}

#moreInfo p {
  cursor: pointer;
}

#whereAmI {

}

#gotIt {
  display: none;
}

#moreInfoMenu {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background: #dcddde;
  box-shadow: 0 .3vw 1.2vw #171717;
  z-index: 10000;
}

#moreInfoMenu button {
  bottom: 0;
}

#circleHead {
  border: 1px solid black;
}

#circlePrompt {
  text-align: center;
  font-size: 4.5vw;
  width: 100%;
  padding: 5vw 0;
  max-height: 170px
}

#circlePrompt p {
  margin: 0;
}

#createCircle {
  text-align: center;
}

#createCircleArea {
  display: none;
}

#createCircleForm {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
  width: 100vw;
  height: 8vh;
  box-shadow: none;
  border: 1px solid black;
  display: block;
  line-height: 100%;
  font-size: 1em;
  background-color: #dcddde;
  color: #272727;
  padding-left: 1vw;
}

#buttonsAndFriends {
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: space-between;
}

#friend {
  display: flex;
  white-space: nowrap;
}

#friendName {
  height: 8vh;
  line-height: 8vh;
}

button {
  margin: 0;
  height: 8vh;
  width: 10vw;
  min-width: 60px;
  background: #0387a4;
  color: #dcddde;
  border: none;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: color ..05s ease-in;
  transition: color .05s ease-in;
}

button:hover {
  background: #1e4761;
}

#friendsToAdd {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#circlesList {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.circleHeader {
  width: 100%;
  height: 10vw;
  min-height: 50px;
  max-height: 100px;
  cursor: pointer;
  display: flex;
  -webkit-transition: color ..05s ease-in;
  transition: color .05s ease-in;
}

.circleHeader:hover {
  color: #1e4761;
}

.circleTitle .circleMembers {
  border: 1px solid black;
  display: flex;
}

.circleTitle {
  font-size: 4.1vw;
  display: flex;
  margin-left: .5vw;
}

.circleTitle p {
  margin: auto;
}

.playButton {
  height: 8vw;
  width: 8vw;
  min-height: 40px;
  max-height: 80px;
  min-width: 40px;
  max-width: 80px;
  text-align: center;
  display: none;
  position: absolute;
  right: .5vw;
  top: .5vw;
  z-index: 1;
  cursor: pointer;
}

.playButton img {
  width: 100%;
  height: 100%;
}

.circleMember {
  display: flex;
  position: relative;
}

.circleMembers {
  display: flex;
  z-index: 50;
}

.circleMembersExpanded {
  display: none;
}

.circleMemberExpanded {
  margin-right: .5vw;
  font-size: 3vw;
  font-weight: 300;
  line-height: 6vw;
  position: relative;
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.circleMemberImage {
  height: 8vw;
  width: 8vw;
  max-height: 80px;
  max-width: 80px;
  min-height: 40px;
  min-width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1vw;
}

.circleMemberImage img {
  height: 100%;
  width: 100%;
}

.circleMemberName {
  margin: auto 0px;
}

.circleMemberDelete img {
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translate(0, -50%);
  height: 4vh;
  width: 4vh;
  visibility: hidden;
}

.currentUser {
  display: none;
}

.deleteCircle {
  cursor: pointer;
  height: 8vh;
  text-align: center;
  position: relative;
  color: #0387a4;
  -webkit-transition: color .05s ease-in;
  transition: color .05s ease-in;
}

.deleteCircle:hover{
  color: #dcddde;
}

.deleteCircle div {
  line-height: 8vh;
}

.deleteCircle img {
  height: 4vh;
  position: absolute;
  left: 2vw;
  margin: 2vh 0;
}

#userCreateCirclePicture {
  width: 5vh;
  height: 5vh;
  border: 1px solid black;
  border-radius: 50%;
  margin: .5vh auto;
  margin-bottom: 0;
}

.addedFriend {
  height: 6vh;
  width: 6vh;
  text-align: center;
  font-size: .8em
}

#login {
  text-align: center;
}

#login img {
  margin-top: 3vh;
  width: 380px;
}

#playlistDest {
  display: flex;
  position: relative;
}

iframe {
  /*width: 100vw;*/
  flex-grow: 4;
}

#savePlaylist {
  flex-grow: 1;
  height: 80px;
  background: #0387a4;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#savePlaylist:hover {
  background: #1e4761;
}
