<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', { subHeading: user.display_name + "'s Profile" }) $>

  <main>
    <p>Name:   <$= user.display_name $></p>
    <p><a href="/users">Back to the user list.</a></p>
  </main>

  <$- include('../partials/scripts') $>
</body>
</html>
